.setting{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    padding: 10px;
}

.setting button{
    margin-bottom: 5%;
}

.btn{
    padding: auto;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}
  
body.dark-mode footer{
    background-color: #121212;
    color: white;
}